
@viewport{
	width: device-width; /* replaces header tag eventually */
}

html { 
	height: 100%;
	font-size: 10px;
	font-size: 62.5%; /* default=16px, use with rem 10px 1.4rem=14px 1.6rem=16px */
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
    -webkit-text-size-adjust: none; /* prevent resizing text on orientation change */
	background-size: 100% 21px, 100% 21px; background-size:100% 2.1rem, 100% 2.1rem;
	-moz-background-size: 100% 21px, 100% 21px; -moz-background-size: 100% 2.1rem, 100% 2.1rem;
	-o-background-size:100% 21px, 100% 21px; -o-background-size:100% 2.1rem, 100% 2.1rem;
	-webkit-background-size: 100% 21px, 100% 21px; -webkit-background-size: 100% 2.1rem, 100% 2.1rem;
    background-color: rgb(230, 230, 230);
    background-image:
        -webkit-gradient(linear, left top, right top,
            color-stop(.75, transparent),
            color-stop(.75, rgba(255,255,255,.1)) );
    /*  to disable the open link menu on a touch-hold on link, or save image dialog */
    -webkit-touch-callout: none; 
	color: white;
}

.view {
	width: 100%;
	height: 100%;
    min-height: 100%;
    overflow: auto;
    position: relative;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;	  /* disables copy-paste */
	background-color:black;
	/*background: black url('../images/galaxyCluster.gif') top left no-repeat;*/
	background-size: cover;
    -webkit-overflow-scrolling: touch;
}
ul {
	padding: 0;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) 
{
	body{
		background-color:#f6ebff;
		background-image: -moz-linear-gradient(#f6ebff, #dfb8ff);
    	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6ebff), to(#dfb8ff));
    	background-image: -webkit-linear-gradient(#f0f4f8, #dfb8ff);
    	background-image: -o-linear-gradient(#f0f4f8, #dfb8ff);
    	background-image: -ms-linear-gradient(#f0f4f8, #dfb8ff);
    	background-image: -webkit-gradient(linear, left bottom, left top, 
	  	color-stop(1.0, #f6ebff),
		color-stop(0.7, #f6ebff), color-stop(0, #dfb8ff));
	}
}
header, aside, footer, article {display:block;}

h1{
	font-size:30px; 
	margin: 5% 1% 1% 5%;
	color: white;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

ul.navList{
	list-style-type: none;
	height: 5rem;
	min-height: 5.0rem;
	margin: 0;
	padding: .5em 0 0 0;

	background-color:black;
	box-shadow: 5px 0px 10px #F9A504; 
	-webkit-box-shadow: 5px 0px 10px #F9A504; 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow:hidden;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
ul.navList li{
	display: block;
	width: 20%;
	float: left;
	text-align: center;
}
ul.navList li a{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #F9A504;
	font-size: 2rem;   
	font-weight: 800;
	vertical-align: middle;
	margin: auto;
	line-height: 5.0rem;
}
ul.navList li a:hover{
	color: #f9ca6e;
}
ul.navList li a:active{
	color: #f9ca6e;
}
ul.navList li a.current{
	color: #f9ca6e;
}

ul.navlist li ul{
	display: none;
}
nav ul ul {
	display: none;
}
ul.navlist li a img{
	width: 40px;
	height: 40px;
}

/* if phone, show two boxes on top of each other, if bigger show side by side */
.container { width: 500px; }
.container div {
    float: left;
    margin: 0 15px 0 0;
    width: 235px;
}


/* underline clickable links... so telephone in mobile, and
  both telephone and email on desktop 
 */
a.telephone, a.email{
	font-size: large;
	color: yellow;
}

a.email:hover{
	color:yellow;
}
	

.synopsis{
	font-size:16px; 
	margin: 10px;
	color: white;
}
/* .announcement, .news{
	font-size: 18px;
	float:left;
	margin: 0 5%;
} */
.news{
	width: 30%;
	float: right;
}
.section{
	float:left;
	width: 100%;
	min-height: 500px;
	margin: 5rem 0;
	box-sizing:border-box;
	background-color: black; 
	background-size: cover;
} 

.section img {
	padding: 0 1.5rem 1.5rem 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left; margin:auto 0; 
}

#SectionBio img{
	width:320px; height:240px; 
}
#SectionBooks {
	/* background-color: #222; */
	background: rgb(34,34,34);
    background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 100%);
}
#SectionAnamoly{
	background: black url('../images/BackgroundAnomaly.jpg') top left no-repeat;
	background-size: cover;
}

#SectionPeterFlies{
	background: black url('../images/BackgroundFairyWoods.jpg') top left no-repeat;
	background-size: cover;
}
#SectionHome{
	/*background: black url('../images/BackgroundWatchMoon.jpg') top left no-repeat;*/
	background-size: cover;
}
#SectionDanceDestiny{
	background: black url('../images/BackgroundDarkForest.jpeg') top left no-repeat;
	background-size: cover;
}
#SectionAliensGift{
	background: rgb(34,34,34);
	background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 100%);
}
#SectionPoems{
	background: black url('../images/BackgroundWatchMoon.jpg') top left no-repeat;
	background-size: cover;
}
#SectionContact{
	background: black url('../images/BackgroundContact.jpg') top left no-repeat;
	background-size: cover;
}
#SectionNews{
	background: black url('../images/BackgroundNews.jpg') top left no-repeat;
	background-size: cover;
}
ul.bookList{
	list-style-type: none;
	margin:1% 5%;
}
ul.bookList li{
	display: block;
	width: 25%;
	float: left;
	text-align: center;
}
ul.bookList li img{
	width: 240px;
	height: 330px;
}


/* ul.contactList{
	list-style-type: none;
	padding:0;
	margin:0;
	width: 100%;
}
ul.contactList li{
	margin-bottom: 5%;
}
ul.contactList li:nth-child(2){
	padding-left:5%;
	background-image: url(../images/facebookIcon.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}
ul.contactList li:nth-child(3){
	padding-left:5%;
	background-image: url(../images/emailIcon.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}
ul.contactList li:nth-child(4){
	padding-left:5%;
	background-image: url(../images/googleIcon.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}
ul.contactList li span{
	line-height: 50px;
	padding-left:60px;
}
ul.contactList li a{
	color: white;
	line-height: 50px;
} */

.youtube{
	padding: 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:right;
}

.wordwrap{
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

#SectionDanceDestiny img{width: 320px; }

/* 
.promoSection{float:left; margin:5%; }
.promoSection h1{font-size:3rem; margin-left:0;}
.promoSection h2{font-size:1.8rem;}
.promoSection h3{text-size:3rem; color:#F9A504; text-shadow: 1px 1px #ff0000; } */
.synopsis{font-size:1.6rem;  margin:1% 5%;  clear:left; }
.firstLine{font-style:italic; font-weight:bold; }

.phoneWidth{width:320px;}

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
	ul.bookList li img{
	width: 120px;
	height: 165px;
  }
  .youtube iframe{
  		width: 480;
		height: 385;
  }
}
@media only screen and (max-width: 805px), only screen and (max-device-width: 805px) 
{ 
	.fullscreen{
		display: none;
	}
	ul.navList li a{
		font-size: 1.5rem;   
	} 
	#SectionNews{
		background: black;
	}
	.news{
		width: 90%;
		align: center;
	}
}

@media only screen and (max-width: 705px), only screen and (max-device-width: 705px) 
{
	/* #SectionDanceDestiny img{float:none; margin:auto; text-align:center; width:40%; display:block; padding-left:0}
	#SectionDanceDestiny img.destinyAmazonButton{margin:1rem auto;} */
	.promoSection{float:none; margin:auto;  }
}

@media only screen and (max-width: 516px), only screen and (max-device-width: 516px) {
	ul.bookList li{
		width: 50%;
		padding-bottom: 1rem;
	}
	.news{
		padding-left: 100px;
	}

	.section img{
		display:block;
		box-align: center;
		margin: 0 auto 0 auto;
		float: none;
		margin: 0 auto;
	}
	
	.synopsis{
		clear:both;
	  margin-top: 1rem;
	}

}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
   	ul.navList li{
		width: 25%;
	}
	
	.youtube  {
		clear: both;
	  float: none;
	} 
	.youtube iframe {
		display:block;
		margin: 0 auto;
    } 
}

@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
 	a.telephone{
 		text-decoration: none;	
 	}
	.promoSection{margin:0 5%;}
	.promoSection h1{font-size:2.0rem;}
	.promoSection h3{text-size:1.8rem; }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {

	#SectionAliensGift object{
		width:320px;
		height:240px;
	}

	/* #SectionAnamoly{
		background: black url('../images/BackgroundAnomaly_small.png') top left no-repeat;
		background-size: cover;
	} */
}
